<div class="row">
  <div class="col-md-6">
    <h4><b><%= t ".following" %></b></h4>
  </div>
  <div class="col-md-6">
    <h4><b><%= t ".followers" %></b></h4>
  </div>
</div>
<div class="row admin-relationships-list">
  <div class="col-md-6">
    <table class="table table-striped table-advance table-hover user-set-table">
      <tbody>
        <% @user.following.each do |following| %>
          <tr>
            <td><%= following.full_name%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped table-advance table-hover user-set-table">
      <tbody>
        <% @user.followers.each do |followers| %>
          <tr>
            <td><%= followers.full_name%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>